* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;

  background-color: rgb(57, 57, 57);
  overflow-x: hidden;
}

#backgroundImage {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(7, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(./webPublic/netflixBGPage.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#nav-header {
  width: 100%;
  height: 92px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0,
    rgba(7, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.navbar {
  width: 93.8%;
  height: 60px;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  left: 30px;
  right: 30px;
  position: absolute;
}
.netflixLogo {
  width: 168px;
  height: 60px;
  background-color: transparent;
  filter: brightness(105%);
  padding: 0 100px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}
ul li {
  padding-left: 35px;
  list-style: none;
}
#languages {
  height: 32px;
  width: 126px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
}
select option {
  background-color: black;
  color: #ffffff;
}

.signIn {
  height: 32px;
  width: 76.9px;
  border-radius: 5px;
  color: white;
  background-color: rgb(233, 11, 11);
  border: 1px solid black;
  font-size: medium;
  font-weight: bolder;
}
.signIn:hover {
  background-color: rgb(196, 14, 14);
}
.mid-main {
  text-align: center;
  color: white;
  padding-top: 10rem;
}
.mid-main h1 {
  font-size: 42px;
  text-align: center;

  color: #ffffff;

  font-weight: 900;
}
.mid-main h2 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 28px;
}
.together{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.emailId {
  height: 56px;
  width: 364px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: #ffffff;

  background-color: transparent;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 15px;
}
.getStarted {
  height: 56px;
  width: 213px;
  background-color: red;
  color: #ffffff;
  font-size: 27px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 10px;
}

/* second main part */

.second-main {
  height: 500px;
  width: 101%;
  background-color: black;
  margin-top: 10px;
  padding: 72px 10px 0 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.second-main div {
  width: 560px;
  height: 233px;
  text-align: center;
  display: inline;
}
.secondShowImage {
  width: 561px;
  height: 421.5px;
}
.second-main h1 {
  font-size: 44px;
  text-align: center;

  color: #ffffff;

  font-weight: 900;
  padding-top: 90px;
}
.second-main h2 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 16px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}

/* third-main */

.third-main {
  height: 500px;
  width: 101%;
  background-color: black;
  margin-top: 10px;
  padding: 72px 30px 0 30px;
  display: grid;
  grid-template-columns: auto auto;
}
.third-main div {
  width: 540px;
  text-align: center;
  display: inline;
}
.third-main h1 {
  font-size: 44px;
  text-align: center;

  color: #ffffff;

  font-weight: 900;
  padding-top: 130px;
}
.third-main h2 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 16px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}
.thirdShowImage {
  padding-top: 20px;
}

/* fourth-main */

.fourth-main {
  height: 1000px;
  width: 107%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.fourth-main div {
  display: inline;
  text-align: center;
}
div.frequentlyAskedQ {
  height: 80px;
  margin-top: 40px;
}
div.frequentlyAskedQ h1 {
  height: 40px;

  font-size: 42px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  display: inline;
  margin-top: 20px;
}
div.questions {
  height: 600px;
}

.questions button  {
  width: 961px;
  height: 84px;
  background-color: #2d2d2d;
  color: white;
  font-size: 24px;
  margin-top: 10px;
}

footer {
  height: 400px;
  width: 107%;
  background-color: black;
  margin-top: 10px;
  color: #ffffff;
  padding: 20px;
  display: block;
}
.firstPanel {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.firstPanel ul {
  display: inline-block;
}
.firstPanel ul li {
  margin-top: 25px;
  display: block;
  font-size: small;
}

.firstPanel p {
  margin-left: 35px;
  font-size: small;
}
